[Container]
Image=caddy.build
Pull=never
ContainerName=caddy

Network=cloudflare-tunnel.network
Network=jenkins.network:alias=git.mwdle.com,alias=vault.mwdle.com
Network=vpa.network

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

Secret=caddy_cloudflare_api_token,target=cloudflare_api_token,uid=1000,gid=1000,mode=0400
Secret=caddy_email,target=email,uid=1000,gid=1000,mode=0400

Volume=caddy-config:/config:U,Z
Volume=caddy-data:/data:U,Z
Volume=./Caddyfile:/etc/caddy/Caddyfile:ro,Z

ReadOnly=true
ReadOnlyTmpfs=false
Tmpfs=/tmp

User=1000
Group=1000
UserNS=auto
NoNewPrivileges=true
DropCapability=all
AddCapability=NET_BIND_SERVICE

HealthStartupCmd=wget --no-verbose --tries=1 --spider http://localhost:8888/health || exit 1
HealthStartupInterval=5s
HealthStartupTimeout=5s
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:8888/health || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthOnFailure=kill
Notify=healthy

Memory=512M
PidsLimit=50

[Service]
CPUQuota=150%
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
