name: Caddy
services:
  Caddy:
    image: mwdle/caddy:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: Caddy
    restart: unless-stopped
    hostname: caddy
    ports:
      - 80:80
      - "443:443/tcp"
      - "443:443/udp"
    # Allow resolving host machine in order to reverse proxy Cockpit
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      Adguard:
      Vaultwarden:
      Nextcloud:
      CloudflareTunnel:
      Speedtest:
      VPA:
      Frigate:
      MusicAssistant:
      # Home Assistant connects to Frigate, Nextcloud, and Music Assistant via Caddy instead of Docker network for HTTPS access, no external routing via Cloudflare Tunnels, Music Assistant Music Art Proxy (avoids mixed content in browser), and increased isolation between containers/networks.
      HomeAssistant:
        aliases:
          - ${MA_HOSTNAME}
          - ${FRIGATE_HOSTNAME}
          - ${NEXTCLOUD_HOSTNAME}
      OpenWebUI:
      Gitea:
        aliases:
          - ${JENKINS_HOSTNAME} # Gitea connects to Jenkins via Caddy for webhooks
      Jenkins:
        aliases:
          - ${GITEA_HOSTNAME} # Jenkins connects to Gitea via Caddy for repository access, webhook configuration, etc.
          - ${VAULTWARDEN_HOSTNAME} # Jenkins connects to Vaultwarden via Caddy for providing credentials.
      ESPHome:
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - EMAIL=${EMAIL}
      - TRUSTED_PROXIES=${TRUSTED_PROXIES}
      - LOG_FILE=/data/access.log
      - NEXTCLOUD_HOSTNAME=${NEXTCLOUD_HOSTNAME}
      - SPEEDTEST_HOSTNAME=${SPEEDTEST_HOSTNAME}
      - ADGUARD_HOSTNAME=${ADGUARD_HOSTNAME}
      - VAULTWARDEN_HOSTNAME=${VAULTWARDEN_HOSTNAME}
      - HA_HOSTNAME=${HA_HOSTNAME}
      - VPA_HOSTNAME=${VPA_HOSTNAME}
      - FRIGATE_HOSTNAME=${FRIGATE_HOSTNAME}
      - MA_HOSTNAME=${MA_HOSTNAME}
      - COCKPIT_HOSTNAME=${COCKPIT_HOSTNAME}
      - OPENWEBUI_HOSTNAME=${OPENWEBUI_HOSTNAME}
      - GITEA_HOSTNAME=${GITEA_HOSTNAME}
      - JENKINS_HOSTNAME=${JENKINS_HOSTNAME}
      - ESPHOME_HOSTNAME=${ESPHOME_HOSTNAME}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ${DOCKER_VOLUMES}/Caddy/data:/data
      - ${DOCKER_VOLUMES}/Caddy/config:/config

networks:
  Adguard:
    name: Adguard
    external: true
  Vaultwarden:
    name: Vaultwarden
    external: true
  Nextcloud:
    name: Nextcloud
    external: true
  CloudflareTunnel:
    name: CloudflareTunnel
    external: true
  Speedtest:
    name: Speedtest
    external: true
  VPA:
    name: VPA
    external: true
  Frigate:
    name: Frigate
    external: true
  HomeAssistant:
    name: HomeAssistant
    external: true
  MusicAssistant:
    name: MusicAssistant
    external: true
  OpenWebUI:
    name: OpenWebUI
    external: true
  Gitea:
    name: Gitea
    external: true
  Jenkins:
    name: Jenkins
    external: true
  ESPHome:
    name: ESPHome
    external: true
